<!DOCTYPE HTML>
<!--
   Radius by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Radius by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="../css/restaurant_main.css" />-->

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>


    </style>
</head>



<body>
    <div class="container">
        <table class="write-post">
            <thead>
                <caption>수정하기</caption>
            </thead>
            <tbody>
                <form role="form" enctype="multipart/form-data" method="post" action="/modify/UserContents">



                    <script>
                        console.log('asdfasdfasdf:' + post_num);

                    </script>
                    <input type='hidden' name="post_num" value='<%=post_num%>'>
                    <tr>
                        <th>제목: </th>
                        <td><input type="text" placeholder="제목을 입력하세요. " name="title" class="form-control" /></td>
                    </tr>
                    <tr>
                        <th>내용: </th>
                        <td><textarea cols="10" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                        <th>첨부파일: </th>
                        <td><input type="file" placeholder="파일을 선택하세요. " name="photo" class="form-control" /></td>
                    </tr>

                    <tr>
                        <td colspan="2">

                            <input type="submit" value="수정" class="pull-right" />
                            <input type="button" value="취소" class="pull-left" onclick="javascript:history.back()">
                        </td>
                    </tr>
                </form>
            </tbody>


        </table>
    </div>

</body>

</html>