<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>로그아웃 페이지 - ejs</title>
</head>

<body>
  <form method="post" action="/user/logout">
    <input type="submit" value="로그아웃">
  </form>
</body>
</body>

</html>
