<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>메인</title>
</head>

<body>
  <h1>Login</h1>
  <hr/>
  <form method="post" action="/user/login">
    <table>
      <tr>
        <td><label>ID</label></td>
        <td><input type="text" name="id"></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" name="pw"></td>
      </tr>
    </table>
    <input type="submit" value="로그인">
  </form>
</body>

</html>
